---
- name: copy elasticsearch gpg key
  copy: src=GPG-KEY-elasticsearch dest=/tmp/GPG-KEY-elasticsearch

- name: add elasticsearch gpg key to yum
  rpm_key: state=present key=/tmp/GPG-KEY-elasticsearch

- name: copy elasticsearch repository definition
  copy: src=elasticsearch.repo dest=/etc/yum.repos.d/elasticsearch.repo

- name: install elasticsearch
  yum: pkg=elasticsearch state=present enablerepo=elasticsearch-1.4

- name: template elasticsearch configuration file
  template: src=elasticsearch.yml.j2
            dest=/etc/elasticsearch/elasticsearch.yml
  notify:
    - restart elasticsearch
    - start elasticsearch

- name: template elasticsearch sysconfig file
  template: src=elasticsearch_sysconfig.j2
            dest=/etc/sysconfig/elasticsearch
  notify:
    - restart elasticsearch
    - start elasticsearch
    
- name: allow elasticsearch through firewall
  command: /sbin/iptables -A INPUT -p tcp -m tcp --dport {{ es_port }}:{{ es_max_port }} -j ACCEPT

- name: make iptables configuration peristent
  shell: /sbin/iptables-save
  notify:
    - restart iptables
