# Cluster name (for network discovery)
cluster.name: {{ cluster.name }}

# Master node name / address
node.master: {{ master }}

# HTTP settings
http.port: 9200
http.cors.enabled: true
http.cors.allow-methods: GET
transport.tcp.port: 9300
transport.tcp.compress: True

# Index settings
index.number_of_shards: 5
index.number_of_replicas: 1

# Memory settings
bootstrap.mlockall: true

# Configuration locations
path.conf: /etc/elasticsearch
path.logs: /var/log/elasticsearch

# Cluster discovery
discovery.zen.minimum_master_nodes: 1
discovery.zen.ping.timeout: 3s
discovery.zen.ping.unicast.hosts: [{% for ip in groups["elasticsearch"] %}{{ip}}, {% endfor %}]
